<h2>Order Shoes</h2>




<form action = "/kitsu" method="post">

<label>First Name:</label>
<input type= "text" name="first_name">

<label>Last Name:</label>
<input type="text" name="last_name">

<label>Address:</label>
<input type= "text" name="address">

<label>Female Size</label>
<select name='Female Size'>
<option value="2"> 2</option>
<option value = "3"> 3</option>
<option value= "4">4</option>
<option value= "5">5</option>
<option value= "6">6</option>
</select>


<label>Male Size</label>
<select name='Male Size'>
<option value = "5"> 5</option>
<option value = "6"> 6</option>
<option value = "7"> 7</option>
<option value = "8"> 8</option>
<option value = "9"> 9</option>
<option value = "10"> 10</option>
<option value = "11"> 11</option>

</select>

<label>Quantity:</label>
<input type= "number" name="Quantity">

<input type="submit" value ="Order Shoes">
</form>